@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>League of Legends related website. On this website, users can view champions, items, and builds information as well as create their own build.</p>
<p>LoL fans are encouraged to explore our vast library of user generated champion build guides to enhance their battlefield strategy. Learn new, effective, winning strategy from players dominating the field.</p>
<p>League of Legends is a team based, real time strategy game set in a mythical world of swords & magic where epic battles decide the fate of mystical nations. Game players take on the role of a Summoner who conjures and controls champions to fight for them at the Institute of War. During game play champions gain experience and items to enhance their skills and abilities. How players develop and play their champions can be the difference between a crushing defeat or a glorious victory!</p>

<style>
img {
        max-width: 100%;
        height: auto;
}
</style>

<img src="~/Content/Photos/build2.jpg" />
<img src="~/Content/Photos/build1.png" />
<img src="~/Content/Photos/build3.jpg" />