<!DOCTYPE html>
<html>
<head>
    <title>Builds</title>
	<meta charset="utf-8" />
</head>
<body>
    <div><p>
    new Champion{ID="Garen",
</p><p>Q="Decisive Strike: Garen gains a burst of movement speed, breaking free of all slows affecting him. His next attack strikes a vital area of his foe, dealing bonus damage and silencing them. Garen breaks free from all slows affecting him, and gains 30% movement speed for 1.5 / 2 / 2.5 / 3 / 3.5 seconds.His next basic attack within 4.5 seconds deals 30 / 55 / 80 / 105 / 130(+140 % Attack Damage) physical damage and silences his target for 1.5 seconds.",</p>

        <p>W ="Courage: Garen passively increases his armor and magic resist by killing enemies. He may also activate this ability to grant himself a shield that reduces incoming damage for a short time. Passive: Killing units permanently grants 0 armor and magic resist, up to a maximum of 30. Current Bonus: 0Active: Garen gains a defensive shield for 2 / 3 / 4 / 5 / 6 seconds, reducing incoming damage by 30 %.",</p>
    <p>E ="Judgment: Garen performs a dance of death with his sword, dealing damage around him for the duration and shredding the armor of enemy champions hit. Garen rapidly spins his sword around his body for 3 seconds, dealing 0 physical damage to nearby enemies-- 14 / 18 / 22 / 26 / 30 plus 34 / 35 / 36 / 37 / 38 % of his attack damage, 0 times(increased by 1 every 3 champion levels)-- over the duration.Enemy champions hit by 4 spins lose 25 % of their armor for 6 seconds.",</p>
    <p>R ="Demacian Justice: The enemy champion with the most recent kills is the Villain. Garen's attacks deal additional true damage to that champion. Garen can call upon the might of Demacia to deal a finishing blow to an enemy champion that deals damage based upon how much health his target has missing. This damage is true damage against the Villain.",</p>
    <p>Passive ="Perseverance: If Garen has not recently been struck by damage or enemy abilities, he regenerates a percentage of his maximum health each second. Minion damage does not stop Perseverance."},</p>
        <p>_____________________________________________</p>
<p>new Champion{ID="Master Yi",</p>
   <p> Q ="Alpha Strike: Master Yi teleports across the battlefield with blinding speed, dealing physical damage to multiple units in his path, while simultaneously becoming untargetable. Alpha Strike can critically strike and deals bonus physical damage to minions and monsters. Basic attacks reduce Alpha Strike's cooldown.",</p>
        <p> W ="Meditate: Master Yi rejuvenates his body by focus of mind, restoring Health and taking reduced damage for a short time.",</p>
        <p>E ="Wuju Style: Master Yi becomes skilled in the art of Wuju, passively increasing his Attack Damage. Activating Wuju Style grants bonus true damage on basic attacks, but the passive bonus is then lost while on cooldown.",</p>
        <p>R ="Highlander: Master Yi moves with unparalleled agility, temporarily increasing his Movement and Attack Speeds as well as making him immune to all slowing effects. While active, Champion kills or assists extend Highlander's duration. Passively reduces cooldown for his other abilities on a kill or assist.",</p>
        <p>Passive ="Double Strike: Every few strikes, Master Yi strikes twice."},</p>
        <p>_____________________________________________</p>
        <p>new Champion{ID="Singed",</p>
        <p>Q ="Poison Trail: Leaves a trail of poison behind Singed, dealing damage to enemies caught in the path.",</p>
        <p>W ="Mega Adhesive: Throws a vial of mega adhesive on the ground, slowing enemies who walk on it.",</p>
        <p>E ="Fling: Damages target enemy unit and flings them into the air behind Singed. If the target Singed flings lands in his Mega Adhesive, they are also rooted.",</p>
        <p>R ="Insanity Potion: Singed drinks a potent brew of chemicals, granting him increased combat stats.",</p>
        <p>Passive ="Empowered Bulwark: Increases Singed's Health by 25 for every 100 Mana he has."}</p></div>
</body>
</html>
