@{
    ViewBag.Title = "MyBuilds";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>new Build{ID=1,Item1="Boots of Speed",Item2="Thornmail",Item3="Void Staff",Item4="Blasting Wand",Item5="Cloth Armor",Item6="Negatron Cloak",SumSpell1="Barrier",SumSpell2="Flash"},</p>
<p>            new Build{ID=2,Item1="Negatron Cloak",Item2="Boots of Speed",Item3="Thornmail",Item4="Void Staff",Item5="Blasting Wand",Item6="Cloth Armor",SumSpell1="Clarity",SumSpell2="Flash"},</p>
   <p>         new Build{ID=3,Item1="Warden's Mail",Item2="Negatron Cloak",Item3="Boots of Speed",Item4="Thornmail",Item5="Void Staff",Item6="Blasting Wand",SumSpell1="Cleanse",SumSpell2="Flash"},</p>
      <p>      new Build{ID=4,Item1="Cloth Armor",Item2="Warden's Mail",Item3="Negatron Cloak",Item4="Boots of Speed",Item5="Thornmail",Item6="Void Staff",SumSpell1="Exhaust",SumSpell2="Flash"},</p>
         <p>   new Build{ID=5,Item1="Negatron Cloak",Item2="Cloth Armor",Item3="Warden's Mail",Item4="Negatron Cloak",Item5="Boots of Speed",Item6="Thornmail",SumSpell1="Flash",SumSpell2="Ignite"},</p>
            <p>new Build{ID=6,Item1="Negatron Cloak",Item2="Void Staff",Item3="Cloth Armor",Item4="Warden's Mail",Item5="Negatron Cloak",Item6="Boots of Speed",SumSpell1="Ghost",SumSpell2="Flash"},</p>
            <p>new Build{ID=7,Item1="Negatron Cloak",Item2="Void Staff",Item3="Thornmail",Item4="Cloth Armor",Item5="Warden's Mail",Item6="Negatron Cloak",SumSpell1="Heal",SumSpell2="Flash"},</p>
            <p>new Build{ID=8,Item1="Negatron Cloak",Item2="Void Staff",Item3="Thornmail",Item4="Warden's Mail",Item5="Cloth Armor",Item6="Warden's Mail",SumSpell1="Ignite",SumSpell2="Flash"},</p>
            <p>new Build{ID=9,Item1="Boots of Speed",Item2="Void Staff",Item3="Thornmail",Item4="Warden's Mail",Item5="Cloth Armor",Item6="Cloth Armor",SumSpell1="Smite",SumSpell2="Flash"},</p>
            <p>new Build{ID=10,Item1="Boots of Speed",Item2="Void Staff",Item3="Warden's Mail",Item4="Warden's Mail",Item5="Warden's Mail",Item6="Warden's Mail",SumSpell1="Teleport",SumSpell2="Flash"},</p>
            <p>new Build{ID=11,Item1="Boots of Speed",Item2="Negatron Cloak",Item3="Boots of Speed",Item4="Boots of Speed",Item5="Boots of Speed",Item6="Boots of Speed",SumSpell1="Barrier",SumSpell2="Flash"},</p>
            <p>new Build{ID=12,Item1="Boots of Speed",Item2="Negatron Cloak",Item3="Boots of Speed",Item4="Boots of Speed",Item5="Boots of Speed",Item6="Boots of Speed",SumSpell1="Clarity",SumSpell2="Flash"},</p>